*{
  margin: 0;  
  padding: 0;
}
body{
  background-color: #12121d;
  font-family: 'Reem Kufi', sans-serif;
}
.input-field{
  height: 30vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: whitesmoke;
}

#input-all{
  background-color: #32323f;
  display: flex;

  border-radius: 1rem;
  width: 45vw;
  padding-left: 1rem;
}

#input{
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 37vw;
}

#sub-button{
  background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
  /*background: linear-gradient(to right, #c31432, #240b36);*/
  margin-left: auto;  
  border: none;
  outline: none;
  height: 3rem;
  width: 5rem;
  color: whitesmoke;
  font-family: 'Reem Kufi', sans-serif;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.todo{
  display: flex;
  background-color: #32323f;
  border-radius: 1rem;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  margin-top: 1rem;
  width: 45vw;
}

#text{
  width: 37vw;
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#rembtn{
  background: linear-gradient(to right, #c31432, #240b36);
  border: none;
  outline: none;
  color: whitesmoke;
  font-family: 'Reem Kufi', sans-serif;
  height: 3rem;
  font-size: 1rem;
  border-radius: 1rem;
  width: 7rem;
  margin-left: auto;
  cursor: pointer;
}

@media all and (max-width: 1200px){
  #input-all{
    width: 100vw;
  }
  #input{
    width: 70vw;
  }
  .todo{
    width: 100vw;
    padding: 0;
  }
  #text{
    width: 80vw;
  }
}

.footer{
  color: #5d5d5f;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  width: 100%;
  position: absolute;  
  bottom: 0;
  
}
.react{
  color: rgb(0, 107, 247);
}


